.address {
  width: 100%;
  min-height: 546px;
  padding: 120px 20px;

  @media (max-width: $vp-1023) {
    padding: 100px 45px;
    min-height: 535px;
  }

  @media (max-width: $vp-767) {
    min-height: 703px;
    padding: 57px 15px;
  }
}

.address__wrapper {
  margin: 0 auto;
  height: 100%;
  max-width: 1160px;
  display: flex;
  column-gap: 100px;

  @media (max-width: $vp-1023) {
    column-gap: 30px;
  }

  @media (max-width: $vp-767) {
    flex-direction: column;
  }
}

.address__container {
  display: flex;
  flex-direction: column;
  padding-top: 74px;

  @media (max-width: $vp-1023) {
    padding-top: 65px;
  }

  @media (max-width: $vp-767) {
    padding: 0;
  }
}

.address__map {
  min-width: 560px;
  height: 306px;
  align-self: flex-start;
  background: url("../img/map/map-desktop.png") no-repeat center;
  background-size: 100%;

  @media (min-resolution: 2dppx) {
    background: url("../img/map/map-desktop@2x.png") no-repeat center;
    background-size: 100%;
  }

  @media (max-width: $vp-1023) {
    min-height: 335px;
    min-width: 324px;
    background: url("../img/map/map-tablet.png") no-repeat center;
    background-size: 100%;

    @media (min-resolution: 2dppx) {
      background: url("../img/map/map-tablet@2x.png") no-repeat center;
      background-size: 100%;
    }
  }

  @media (max-width: $vp-767) {
    order: 2;
    align-self: stretch;
    min-height: 316px;
    min-width: 290px;
    background: url("../img/map/map-mobile.png") no-repeat center;
    background-size: 100%;

    @media (min-resolution: 2dppx) {
      background: url("../img/map/map-mobile@2x.png") no-repeat center;
      background-size: 100%;
    }
  }
}

.address__map iframe {
  border: none;
  display: block;
  width: 100%;
  height: 100%;

  @media (max-width: $vp-1023) {
    width: 324px;
  }

  @media (max-width: $vp-767) {
    width: 100%;
    height: 316px;
  }
}

.address__description {
  @include title-medium;
  margin: 0;
  margin-bottom: 33px;

  @media (max-width: $vp-1023) {
    margin-bottom: 28px;

    br {
      display: none;
    }
  }
}

.address__text,
.address__link {
  font-family: $ff-montserrat;
  font-size: 16px;
  line-height: 24px;

  @media (min-width: $vp-1024) {
    br {
      display: none;
    }
  }
}

.address__icon {
  margin-bottom: -6px;
  margin-right: 6px;
}

.address__link {
  margin-bottom: 20px;
}
