.advantages {
  position: relative;
  width: 100%;
  min-height: 562px;
  padding: 0 20px;
  padding-top: 110px;
  background-color: #e3ecf6;
  z-index: -2;

  @media (max-width: $vp-1023) {
    min-height: 588px;
    padding: 88px 45px;
  }

  @media (max-width: $vp-767) {
    min-height: 997px;
    padding: 55px 15px;
  }
}

.advantages__container {
  margin: 0 auto;
  height: 100%;
  max-width: 1160px;

  h3 {
    @include title-medium;
    margin: 12px 0 11px;
    line-height: 25px;

    @media (min-width: $vp-1024) {
      br {
        display: none;
      }
    }

    @media (max-width: $vp-1023) {
      margin-top: 9px;
    }
  }

  p {
    @include description-text;
    margin: 0;
  }
}

.advantages__container .advantages__title-card {
  @media (max-width: $vp-1023) {
    margin-bottom: 20px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 13px;
  }
}

.advantages__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  z-index: -1;

  @media (min-width: $vp-1024) {
    height: 562px;
  }

  @media (max-width: $vp-1023) {
    height: 588px;
  }

  @media (max-width: $vp-767) {
    height: 997px;
  }
}

.advantages__title {
  @include title-semibold;
  margin: 0;
  margin-bottom: 49px;
  text-align: center;

  @media (max-width: $vp-1023) {
    font-size: 26px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 26px;
    font-size: 24px;
  }
}

.advantages__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;

  @media (max-width: $vp-1023) {
    column-gap: 30px;
  }

  @media (max-width: $vp-767) {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
}

.advantages__item {
  background-color: $color-nav;
  padding: 30px;
  padding-bottom: 46px;

  @media (max-width: $vp-1023) {
    padding: 22px 5px 20px 20px;
  }
}

.advantages__icon {
  @media (max-width: $vp-1023) {
    &-liner {
      width: 21px;
    }

    &-mark {
      width: 27px;
    }

    &-ship {
      width: 36px;
    }
  }
}
