.catalog {
  margin: 0 auto;
  height: 100%;
  max-width: 1170px;
  padding: 95px 10px;

  @media (max-width: $vp-1023) {
    padding: 100px 60px;
  }

  @media (max-width: $vp-767) {
    padding: 65px 25px;
  }
}

.catalog__title {
  @include title-semibold;
  margin: 0;
  margin-bottom: 60px;
  text-align: center;

  @media (max-width: $vp-1023) {
    font-size: 26px;
    line-height: 39px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 40px;
    font-size: 24px;
  }
}

.catalog__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2%;

  @media (max-width: $vp-1023) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $vp-767) {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.catalog__item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  background-color: $text-color;
  padding: 0;
  max-width: 260px;
  height: 386px;

  @media (max-width: $vp-1023) {
    max-width: 309px;
    width: 309px;
    margin: 0 auto;
  }

  @media (max-width: $vp-767) {
    max-width: 270px;
    width: 270px;
    margin: 0 auto;
  }
}

.catalog__image {
  object-fit: cover;
  position: relative;
  z-index: 1;
  height: 100%;

  @media (max-width: $vp-1023) {
    width: 309px;
  }

  @media (max-width: $vp-767) {
    width: 270px;
  }
}

.catalog__image-wrapper {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.catalog__wrapper {
  grid-column: 1/-1;
  grid-row: 1/-1;
  display: grid;
  grid-template-rows: 55px;
  overflow-y: scroll;

  dl {
    @include description-text;
    line-height: 15px;
    color: $color-nav;
    margin: 0;
    margin-top: 5vh;
    padding-left: 25px;
  }

  dt {
    font-family: $ff-montserrat-medium;
    line-height: 14px;
    margin-bottom: 10px;
  }

  dd {
    margin: 0;
    margin-bottom: 20px;
    line-height: 14px;
  }
}

.catalog__link {
  @include title-semibold;
  font-size: 14px;
  line-height: 21px;
  padding: 15px 46px;
  background-color: $color-nav;
  text-align: center;
  display: block;
  grid-column: 1/-1;
  grid-row: 2/3;
  margin: 10px 8% 10%;
}

.catalog__wrapper h3 {
  @include title-medium;
  line-height: 15px;
  color: $color-nav;
  margin: 5vh 0 0 25px;
}

.catalog__item h3 {
  grid-row: 2/3;
  align-self: end;
  z-index: 2;
  margin-bottom: 30px;
}

.catalog__item:hover,
.catalog__item:focus,
.catalog__item:focus-within {
  .catalog__image {
    z-index: -1;
  }

  h3 {
    grid-row: 1/2;
    margin-top: 30px;
    margin-bottom: 0;
  }
}
