.header {
  width: 100vw;
  //min-height: 120px;
  min-width: 1024px;
  margin: 0 auto;
  background-color: $background-color;
  padding: 0 20px;

  @media (max-width: $vp-1023) {
    max-width: 1023px;
    min-width: 768px;
  }

  @media (max-width: $vp-767) {
    max-width: 767px;
    min-width: 320px;
  }
}

.header__container {
  margin: 0 auto;
  height: 100%;
  max-width: 1160px;
  padding: 35px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;


  @media (max-width: $vp-1023) {
    max-width: 677px;
    padding: 30px 0;
  }
}

.header__logo {
  display: block;
  align-self: center;
  z-index: 2;

  @media (max-width: $vp-1023) {
    width: 38px;
    height: 20px;
  }
}

.header__nav {
  min-width: 594px;
  align-self: center;
  margin-left: auto;
  z-index: 2;

  @media (max-width: $vp-1023) {
    min-width: 503px;
  }
}

.header__logo:hover,
.header__logo:focus {
  opacity: 0.7;
}

.header__logo:active {
  opacity: 0.3;
}

.header__toggle {
  display: none;

  @media (max-width: $vp-767) {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
  }
}
