.header {
  width: 100vw;
  min-width: 1024px;
  margin: 0 auto;
  background-color: $background-color;
  padding: 0 20px;

  @media (max-width: $vp-1023) {
    max-width: 1023px;
    min-width: 768px;
  }

  @media (max-width: $vp-767) {
    max-width: 767px;
    min-width: 320px;
    padding: 0 15px;
  }
}

.header__container {
  margin: 0 auto;
  height: 100%;
  max-width: 1160px;
  padding: 35px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;


  @media (max-width: $vp-1023) {
    max-width: 677px;
    padding: 28px 0;
  }

  @media (max-width: $vp-767) {
    display: flex;
    justify-content: space-between;
    max-width: 737px;
    padding: 23px 0;
    margin: 0;
  }
}

.header__logo {
  display: block;
  align-self: center;
  z-index: 5;

  @media (max-width: $vp-1023) {
    width: 38px;
    height: 20px;
  }
}

.header__nav {
  min-width: 594px;
  align-self: center;
  margin-left: auto;
  z-index: 2;

  @media (max-width: $vp-1023) {
    min-width: 503px;
  }

  @media (max-width: $vp-767) {
    position: fixed;
    z-index: 3;
    top: 0;
    right: -100vw;
    width: 96%;
    height: 100%;
    min-width: 240px;
    background-color: #f9fbfd;
    padding: 23px 30px 30px 15px;
    transition: right 0.3s ease 0s;
    overflow: auto;

    &.is-open {
      right: 0;
    }
  }
}

.header__image.is-open {
  @media (max-width: $vp-767) {
    display: block;
    transition: left 0.3s ease 0s;
    transform: translate(-100px, 0);
  }
}

.header__image-mobile {
  display: none;

  @media (max-width: $vp-767) {
    display: block;
    margin-top: 0;
    margin-bottom: 9%;
  }
}

.header__logo:hover,
.header__logo:focus {
  opacity: 0.7;
}

.header__logo:active {
  opacity: 0.3;
}

.header__icon {
  display: none;

  @media (max-width: $vp-767) {
    display: block;
    z-index: 5;
    position: relative;
    width: 24px;
    height: 12px;
    cursor: pointer;

    span,
    &::before,
    &::after {
      left: 0;
      position: absolute;
      height: 10%;
      width: 100%;
      transition: all 0.3s ease 0s;
      background-color: #f9fbfd;
    }

    span {
      top: 50%;
      transform: scale(1) translate(0, -50%);
    }

    &::before {
      content: "";
      top: 0;
    }

    &::after {
      content: "";
      bottom: 0;
    }
  }
}

.header__icon.is-open {
  @media (max-width: $vp-767) {
    & span {
      transform: scale(0) translate(0, -50%);
    }

    &::before {
      top: 50%;
      transform: rotate(-45deg) translate(0, -50%);
      background-color: #011c40;
    }

    &::after {
      bottom: 50%;
      transform: rotate(45deg) translate(0, 50%);
      background-color: #011c40;
    }
  }
}
