.promo {
  background-color: $background-color;
  min-height: 534px;

  @media (max-width: $vp-1023) {
    min-height: 522px;
  }

  @media (max-width: $vp-767) {
    min-height: 384px;
  }
}

.promo__image {
  position: absolute;
  top: 0;
  width: 100%;
  object-fit: cover;
  z-index: 1;

  @media (min-width: $vp-1024) {
    height: 650px;
  }

  @media (max-width: $vp-1023) {
    height: 568px;
  }

  @media (max-width: $vp-767) {
    height: 430px;
  }
}

.promo__title {
  position: relative;
  font-family: $ff-montserrat-bold;
  font-size: 54px;
  line-height: 66px;
  font-weight: 700;
  margin: 0;
  color: $color-nav;
  z-index: 2;
  padding-top: 175px;
  margin-bottom: 30px;
  padding-left: 14%;

  @media (max-width: $vp-1023) {
    font-size: 50px;
    line-height: 60px;
    padding-left: 45px;
  }

  @media (max-width: $vp-767) {
    font-size: 36px;
    line-height: 45px;
    padding-left: 15px;
  }
}

.promo__description {
  @include description-text;
  position: relative;
  font-size: 20px;
  line-height: 24px;
  color: $color-nav;
  z-index: 2;
  margin: 0;
  padding-left: 14%;

  @media (max-width: $vp-1023) {
    font-size: 18px;
    line-height: 21px;
    padding-left: 45px;
  }

  @media (max-width: $vp-767) {
    font-size: 16px;
    line-height: 22px;
    padding-left: 15px;
  }
}
