.social__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 27px;
  padding: 0;
  margin: 0;

  @media (max-width: $vp-1023) {
    column-gap: 22px;
  }

  @media (max-width: $vp-767) {
    column-gap: 20px;
  }
}

.social__network {
  @media (max-width: $vp-1023) {
    width: 16px;
    height: 16px;
  }
}
